@page
@model IndexModel
@{
    ViewData["Title"] = "My Library";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library!</h1>
    <p>Join today to get access to gain a world class knowledge across domains!</a>.</p>
</div>
